
<div class="row">
  <div class="col-md-12">
    <div class="card p-2">
      <div class="card-header d-flex justify-content-between">
        <h1>Projeto 1</h1>
        <p class="text-warning"><b> • Em andamento </b></p>
      </div>
      <hr />
      <div class="card-body d-flex justify-content-between">
        <div class="infos">
          <p>Cliente: João da Silva</p>
          <p>Endereço: Rua X, Jd Bairro - São Paulo - SP</p>
        </div>
        <button class="btn btn-sm btn-primary">Ver mais</button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card p-2">
      <div class="card-header d-flex justify-content-between">
        <h1>Projeto 2</h1>
        <p class="text-success"><b> • Conluido </b></p>
      </div>
      <hr />
      <div class="card-body d-flex justify-content-between">
        <div class="infos">
          <p>Cliente: Maria da Silva</p>
          <p>Endereço: Rua Y, Jd Bairro - Guarulhos - SP</p>
        </div>
        <button class="btn btn-sm btn-primary">Ver mais</button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card p-2">
      <div class="card-header d-flex justify-content-between">
        <h1>Projeto 3</h1>
        <p class="text-success"><b> • Concluido </b></p>
      </div>
      <hr />
      <div class="card-body d-flex justify-content-between">
        <div class="infos">
          <p>Cliente: Ademir Costa</p>
          <p>Endereço: Rua Z, Jd Bairro - São Paulo - SP</p>
        </div>
        <button class="btn btn-sm btn-primary">Ver mais</button>
      </div>
    </div>
  </div>
</div>
