<ng-template #contentExclusao let-modal>
    <div class="modal-header pb-0">
        <h1>Excluir Fornecedor</h1>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            Tem certeza que deseja deletar o  fornecedor <strong>{{ fornecedor.nome }}</strong>?
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Excluir</button>
    </div>
</ng-template>

<ng-template #content let-modal>
    <div class="modal-header pb-0">
        <h1>Fornecedor</h1>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span>&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="fornecedor.nome" placeholder="Insira o nome do Fornecedor">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" [(ngModel)]="fornecedor.email" placeholder="Insira o email principal">
            </div>

            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" id="telefone" name="telefone" class="form-control" [(ngModel)]="fornecedor.telefone" placeholder="Insira o telefone de contato">
            </div>

            <div class="form-group">
                <label for="cnpj">CNPJ</label>
                <input type="text" id="cnpj" name="cnpj" class="form-control" [(ngModel)]="fornecedor.cnpj" placeholder="Insira o cnpj do fornecedor">
            </div>

            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input type="text" id="endereco" name="endereco" class="form-control" [(ngModel)]="fornecedor.endereco" placeholder="Insira o endereço do fornecedor">
            </div>

            <div class="form-group">
                <label for="observacoes">Observação</label>
                <textarea id="observacoes" name="observacoes" class="form-control" [(ngModel)]="fornecedor.observacoes" placeholder="Insira observações sobre o fornecedor..."></textarea>
            </div>

            <button type="submit" class="btn btn-primary" (click)="salvarFornecedor()">Salvar</button>
        </form>
    </div>
</ng-template>

<div class="row">
    <div class="col-md-12">        
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-flex justify-content-between">
                    <h2>Fornecedores</h2>
                    <button mat-raised-button class="btn btn-primary" (click)="open(content)">Cadastrar</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>CNPJ</th>
                            <th>Ações</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fornecedor of fornecedorList$ | async | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: (fornecedorList$ | async)?.length }">
                                <td> {{ fornecedor.nome }} </td>
                                <td> {{ fornecedor.email}} </td>
                                <td> {{ fornecedor.telefone}} </td>
                                <td> {{ fornecedor.cnpj }} </td>
                                <td>
                                    <button class="btn btn-primary mr-2" (click)="open(content, fornecedor)">
                                        <i class="nc-icon nc-ruler-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger" (click)="openModalExclusao(contentExclusao, fornecedor)">
                                        <i class="nc-icon nc-simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>         
            </div>
            <pagination-controls style="margin-left: -30px;"
                (pageChange)="currentPage = $event"
                [nextLabel]="'Próximo'"
                [previousLabel]="'Anterior'">
            </pagination-controls>       
        </div>
    </div>
</div>