<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3>Fornecedores</h3>
                    <button mat-raised-button class="btn btn-primary" (click)="openModalFornecedor()">Cadastrar</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>CNPJ</th>
                            <th>Ações</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fornecedor of fornecedorList$ | async">
                                <td> {{ fornecedor.nome }} </td>
                                <td> {{ fornecedor.email}} </td>
                                <td> {{ fornecedor.telefone}} </td>
                                <td> {{ fornecedor.cnpj }} </td>
                                <td>
                                    <button class="btn btn-primary mr-2" (click)="openModalFornecedor(fornecedor)">
                                        <i class="nc-icon nc-ruler-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger">
                                        <i class="nc-icon nc-simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>