<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3>Clientes</h3>
                    <button mat-raised-button class="btn btn-primary" (click)="openModalCliente()">Cadastrar</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>CPF/CNPJ</th>
                            <th>Ações</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clienteList$ | async | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: (clienteList$ | async)?.length }">
                                <td> {{ cliente.nome }} </td>
                                <td> {{ cliente.email}} </td>
                                <td> {{ cliente.telefone}} </td>
                                <td> {{ cliente.cpf_cnpj }} </td>
                                <td>
                                    <button class="btn btn-primary mr-2" (click)="openModalCliente(cliente)">
                                        <i class="nc-icon nc-ruler-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger">
                                        <i class="nc-icon nc-simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>         
            </div>
            <pagination-controls style="margin-left: -30px;"
                (pageChange)="currentPage = $event"
                [nextLabel]="'Próximo'"
                [previousLabel]="'Anterior'">
            </pagination-controls>       
        </div>
    </div>
</div>