<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h1 class="mt-3 ml-2">Projeto 1 - Casa do João da Silva </h1>
        <button class="btn btn-primary">Cadastrar Nova Etapa</button>
      </div>
      
      <hr />

      <div class="card-body">
        <div class="card p-2">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Relatórios</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Infos. Gerais</button>
            </li>
          </ul>
          <div class="tab-content p-2" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-12 mt-3">
                  <div class="d-flex justify-content-between">
                    <h1>Etapa 2 - Construção</h1>
                    <p> Status: <b class="text-warning"> • Em andamento </b></p>            
                  </div>
                </div>
    
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <h2>Imagens</h2>
                      <div class="row">
                        <div class="col-md-2 mb-3">
                          <img src="../../../assets/img/282171-construcao-de-casa-tudo-o-que-voce-deve-saber-sobre-o-assunto.jpg" width="200px" class="img-fluid" alt="Imagem 1">
                        </div>
    
                        <div class="col-md-2 mb-3">
                          <img src="../../../assets/img/afbe2a7e4aa907902c455dcb3b2b3d45.jpg" width="200px" class="img-fluid" alt="Imagem 2">
                        </div>
    
                        <div class="col-md-2 mb-3">
                          <img src="../../../assets/img/download.jpg" width="200px" class="img-fluid" alt="Imagem 2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-12 mt-3">
                  <div class="row">
                    <div class="col">
                      <h2>Relatório</h2>
                      <!-- Adicione o conteúdo do relatório aqui -->
                      <p>
                        É com grande entusiasmo que compartilho as últimas atualizações sobre a fase de construção do projeto residencial. Desde a conclusão das etapas de projeto arquitetônico e modelagem 3D, nossa equipe tem trabalhado diligentemente para transformar as visões concebidas nos desenhos em uma realidade tangível.<br />
                        Preparação do Terreno: A área do terreno foi adequadamente preparada, levando em consideração as características do solo e as considerações ambientais.<br />
                        Infraestrutura Básica: As fundações foram cuidadosamente instaladas, proporcionando a base sólida necessária para a construção. A infraestrutura básica, incluindo sistemas elétricos e hidráulicos, está em andamento e está sendo supervisionada por profissionais qualificados.<br />
                        Estrutura Vertical: A estrutura vertical está começando a tomar forma, com as paredes sendo erguidas de acordo com as especificações do projeto. O acompanhamento rigoroso está sendo realizado para garantir a precisão e a conformidade com as normas de construção. <br />
                        Acabamentos Iniciais: Enquanto a estrutura principal está em progresso, os trabalhos iniciais de acabamento estão começando a ser implementados. Isso inclui a instalação de materiais e elementos que darão forma à estética final da residência. <br />
                        Controle de Qualidade: Nossa equipe está comprometida com altos padrões de qualidade. Inspeções regulares estão sendo realizadas para garantir que cada fase da construção atenda aos critérios estabelecidos no projeto. <br />
    
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              
              <hr />
    
              <div class="row">
                <div class="col-md-12 mt-3">
                  <div class="d-flex justify-content-between">
                    <h1>Etapa 1 - Planejamento</h1>
                    <p> Status: <b class="text-success"> • Concluido </b></p>            
                  </div>
                </div>
    
                <div class="col-md-12">
                  <div class="row">
                    <div class="col">
                      <h2>Imagens</h2>
                      <div class="row">
                        <div class="col-md-3 mb-3">
                          <img src="../../../assets/img/Capa-Comprar-uma-planta-pronta-ou-contratar-um-arquiteto-min.jpg" class="img-fluid" alt="Imagem 1">
                        </div>
    
                        <div class="col-md-3 mb-3">
                          <img src="../../../assets/img/melhores-programas-para-arquitetura-archicad.webp" class="img-fluid" alt="Imagem 2">
                        </div>
    
                        <div class="col-md-3 mb-3">
                          <img src="../../../assets/img/planta-baixa.jpg" class="img-fluid" alt="Imagem 2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-12 mt-5">
                  <div class="row">
                    <div class="col">
                      <h2>Relatório</h2>
                      <!-- Adicione o conteúdo do relatório aqui -->
                      <p>
                        É com grande satisfação que venho informar a conclusão bem-sucedida do projeto arquitetônico e da modelagem 3D para a residência [Nome do Projeto]. Ao longo das últimas semanas, nossa equipe dedicou esforços significativos para garantir que todas as suas expectativas e requisitos fossem não apenas atendidos, mas também superados.<br />
                        O projeto arquitetônico foi desenvolvido com o objetivo de criar um espaço harmonioso, funcional e esteticamente agradável. Cada detalhe foi cuidadosamente considerado, desde a disposição dos cômodos até a escolha de materiais e acabamentos. As plantas arquitetônicas detalhadas proporcionam uma visão abrangente da distribuição dos espaços, garantindo uma compreensão clara da futura residência.<br />
                        A modelagem tridimensional foi uma parte essencial do processo, permitindo uma visualização mais imersiva do projeto. Utilizamos tecnologias avançadas para criar representações realistas de cada ambiente, proporcionando-lhe a oportunidade de explorar virtualmente sua futura casa antes mesmo do início da construção. A modelagem 3D foi desenvolvida com precisão para capturar cada nuance do design proposto. <br />
                        Estamos confiantes de que o projeto atende e excede suas expectativas, refletindo com precisão a visão que discutimos inicialmente. Estamos ansiosos para discutir qualquer ajuste adicional que você possa desejar antes de prosseguirmos para a próxima fase.
                        Agradeço a oportunidade de trabalhar neste projeto empolgante e espero ansiosamente pela continuidade de nossa parceria na fase de implementação.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="infos">
                <h2>Informações Gerais do Projeto</h2>
                <p>Cliente: João da Silva</p>
                <p>Endereço da Obra: Rua X, Jd Bairro - São Paulo - SP</p>
              </div>
              
              <hr />
      
              <div class="infos">
                <h2>Orçamento</h2>
                <p>Materiais:   R$ 2.5000,00</p>
                <p>Mão de Obra: R$ 5.0000,00</p>
                <p>Valor do projeto: R$ 3.000,00</p>
                <p><b>Valor Total: </b> <b class="text-success">R$ 10.500,00</b></p>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>